.form-container {
    display: flex;
    justify-content: flex-start; /* Aligns items to the start (left) */
}

#postForm {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    min-width: 350px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin-top: 120px;
}

/* Label styling */
#postForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input and select styling */
#postForm input[type="text"],
#postForm select,
#postForm input[type="file"],
#postForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Checkbox styling */
#postForm input[type="checkbox"] {
    margin-right: 10px;
}

/* Button styling */
#postForm button {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

#submitPostButton {
    background-color: #4CAF50;
    color: white;
}

#submitPostButton:hover {
    background-color: #45a049;
}

#saveDraftButton {
    background-color: #008CBA;
    color: white;
}

#saveDraftButton:hover {
    background-color: #007bb5;
}

/* Responsive design */
@media (max-width: 768px) {
    #postForm {
        width: 95%;
        padding: 20px;
    }

    #postForm button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    #postForm {
        padding: 15px;
    }

    #postForm label, 
    #postForm input[type="text"], 
    #postForm select, 
    #postForm input[type="file"], 
    #postForm textarea, 
    #postForm button {
        font-size: 14px;
    }

    #postForm button {
        padding: 8px;
    }
}
