#calendar-container {
    padding-top: 10rem;
}

.calendar {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days .day {
    width: 14.28%; /* 100% / 7 days */
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.calendar-days .day .mood {
    margin-top: 10px;
    display: block;
}