.back-button {
    display: inline-block; /* Ensure the button doesn't take up too much space */
    margin: 10px; /* Adjust margin as needed */
    margin-top: 150px;
}

.back-image{
    width: 40px;
    height: auto;
    transition: transform 0.2s; 
}

.back-image:hover {
    transform: scale(1.1); /* Optional: Slightly enlarge the button on hover */
}

.entries-welcome {
    display: flex;
    justify-content: center;
}
.view-entries-container {
    margin-bottom: 75px;
}

.col-lg-10 {
    display: flex;
    justify-content: center;
}

.entries-card {
    background-color: #a3f7b5;
    width: 100%;
    max-width: 320px;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.noEntriesMsg {
    display: flex;
    justify-content: center;
}