.view-entries-container {
    margin-top: 20vh;
}

.col-lg-10 {
    display: flex;
    justify-content: center;
}

.entries-card {
    background-color: #a3f7b5;
    width: 100%;
    max-width: 250px;
}