<%- include("templates/header.ejs") %>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            height: 100vh;
            background: url('/images/404backg.jpg') no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }

        h1 {
            font-size: 50px;
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
        }

        .back-home {
            margin-top: 20px;
            font-size: 18px;
        }

        .back-home a {
            color: #40c9a2;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
    <div>
        <h1>4 0 4</h1>
        <p>Nothing's here, but you can stay</p>
        <div class="sound-toggle">
            <i id="sound-icon" class="fas fa-volume-up"></i>
        </div>
        <div class="back-home">
            <a href="/">Back to Home</a>
        </div>
    </div>
    <audio id="background-audio" loop autoplay>
        <source src="/audio/404sound.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const audio = document.getElementById('background-audio');
            const soundIcon = document.getElementById('sound-icon');

            function playAudio() {
                audio.play();
                document.removeEventListener('click', playAudio);
            }

            document.addEventListener('click', playAudio);

            document.querySelector('.sound-toggle').addEventListener('click', function () {
                if (audio.paused) {
                    audio.play();
                    soundIcon.classList.remove('fa-volume-mute');
                    soundIcon.classList.add('fa-volume-up');
                } else {
                    audio.pause();
                    soundIcon.classList.remove('fa-volume-up');
                    soundIcon.classList.add('fa-volume-mute');
                }
            });
        });
    </script>
    <%- include("templates/footer.ejs") %>