<%- include('templates/header.ejs') %>

<div class="container d-flex h-100 justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form id="postForm" action="/submitPost" method="post" enctype="multipart/form-data">
                <!-- Other form fields for post title, tag, and content -->
                <label for="postTitle">Title:</label>
                <input type="text" id="postTitle" name="postTitle" required>
                <br>
                
                <label for="postTag">Tag:</label>
                <select id="postTag" name="postTag" required>
                    <option value="#Optimistic">#Optimistic</option>
                    <option value="#Happy">#Happy</option>
                    <option value="#Recovery">#Recovery</option>
                    <option value="#Gloomy">#Gloomy</option>
                    <option value="#Trying_Something_New">#Trying Something New</option>
                </select>
                <br>
              
                <!-- Input field for uploading image -->
                <label for="postImage">Upload Image:</label>
                <input type="file" id="postUploadImage" name="postUploadImage">
                <br>
              
                <!-- Input field for sharing a link -->
                <label for="postLink">Share Link:</label>
                <input type="text" id="postLink" name="postLink">
                <br>

                <!-- Checkbox for making comments visible -->
                <label for="makeCommentsVisible">Make Comments Visible:</label>
                <input type="checkbox" id="commentVisibility" name="commentVisibility" value="true">
                <br>
              
                <label for="postContent">Content:</label>
                <textarea id="postContent" name="postContent" rows="4" required></textarea>
                <br>
              
                <!-- Submit buttons -->
                <button type="button" id="submitPostButton">Submit Post</button>
                <button type="button" id="saveDraftButton">Save Draft</button>
            </form>

        </div>
        <% if (typeof error !== 'undefined') { %>
            <p><%= error %></p>
        <% } %>
          
    </div>
</div>

<script>
document.getElementById('submitPostButton').addEventListener('click', function() {
    document.getElementById('postForm').action = '/submitPost';
    document.getElementById('postForm').submit();
});

document.getElementById('saveDraftButton').addEventListener('click', function() {
    document.getElementById('postForm').action = '/savePost';
    document.getElementById('postForm').submit();
});
</script>

<%- include('templates/footer.ejs') %>
