<%- include('templates/header.ejs') %>
    <h1>journal</h1>
    <div class="row">
        <div class="col-sm-6 p-4">
            <div class="card bg-dark text-white" style="height: 400px">
                <img src="..." class="card-img" alt="...">
                <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center;">
                    <h5 class="card-title text-center">New Entry</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-4">
            <div class="card bg-dark text-white" style="height: 400px">
                <img src="..." class="card-img" alt="...">
                <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center;">
                    <h5 class="card-title text-center">View Entries</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 p-4">
            <div class="card bg-dark text-white" style="height: 400px">
                <img src="..." class="card-img" alt="...">
                <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center;">
                    <h5 class="card-title text-center">Mood History</h5>
                </div>
            </div>
        </div>
    </div>

    <%- include('templates/footer.ejs') %>