<%- include('templates/headerNotLogged.ejs') %>

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/loggingIn" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
<<<<<<< HEAD
    <button type="submit" onclick="window.location.href='/passwordReset'">Forgot Password?</button>

=======

    <a href="/resetPassword">Forgot your password?</a>
    
>>>>>>> baf3fa487815cf845637e58f81d930a2ed6b5643
</body>
</html>

<%- include('templates/footer.ejs') %>