<%- include("templates/header.ejs") %>
<div class="back-button">
    <a href="/journal">
        <img class="back-image" src="/images/back.png">
    </a>
</div>
<div class="container my-4" id="calendar-container">
    <h2>Monthly Mood Calendar</h2>
    <div id="calendar" class="calendar">
        <div class="row calendar-row">
            <div class="col header calendar-header">Sun</div>
            <div class="col header calendar-header">Mon</div>
            <div class="col header calendar-header">Tue</div>
            <div class="col header calendar-header">Wed</div>
            <div class="col header calendar-header">Thu</div>
            <div class="col header calendar-header">Fri</div>
            <div class="col header calendar-header">Sat</div>
        </div>
        <div id="calendar-days" class="calendar-days"></div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', async function () {
        const response = await fetch("/getMoodData");
        const moodData = await response.json();
        const calendarDaysContainer = document.getElementById('calendar-days');

        const daysInMonth = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getDate();
        const firstDayOfMonth = new Date(new Date().getFullYear(), new Date().getMonth(), 1).getDay();

        for (let i = 0; i < firstDayOfMonth; i++) {
            const emptyDay = document.createElement('div');
            emptyDay.classList.add('day');
            calendarDaysContainer.appendChild(emptyDay);
        }

        for (let i = 1; i <= daysInMonth; i++) {
            const dayElement = document.createElement('div');
            dayElement.classList.add('day');
            dayElement.innerHTML = `
                <span>${i}</span>
                <span class="mood">No mood recorded</span>
            `;
            calendarDaysContainer.appendChild(dayElement);
        }

        moodData.forEach(mood => {
                const moodDate = new Date(mood.timestamp);
                const day = moodDate.getDate();

                const dayElements = document.querySelectorAll('.calendar-days .day');
                dayElements[day - 1 + firstDayOfMonth].style.backgroundColor = mood.colour;
                console.log(mood.colour);
                dayElements[day - 1 + firstDayOfMonth].querySelector('.mood').textContent = 'Mood recorded';
            });
    });
</script>

<%- include("templates/footer.ejs") %>