<%- include('templates/header.ejs') %>

<form action="/resetPassword" method="post">
    <label for="username">Enter Your Email:</label>
    <input type="text" id="email" name="email" required><br><br>
    <button type="submit">Reset</button>
</form>

<%- include('templates/footer.ejs') %>

