<%- include('templates/header.ejs') %>
<head>
    <style>
        .confirmation-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          text-align: center;
        }
        .confirmation-message {
          font-size: 24px;
          margin-bottom: 20px;
        }
        .btn-group {
          display: flex;
          gap: 20px;
        }
      </style>
</head>
<body>
    <div class="container confirmation-container">
        <div class="confirmation-message">
          Your post has been successfully created!
        </div>
        <div class="btn-group">
          <a href="/" class="btn btn-primary">Home Page</a>
          <a href="/createPost" class="btn btn-secondary">Create Another Post</a>
        </div>
      </div>
</body>

<%- include('templates/footer.ejs') %>
