<%- include('templates/header.ejs') %>
<div class="profile" style="text-align: center; display: flex; align-items: center; justify-content: center;">
    <h1> 
        <%= username %>'s Space
        

    </h1>
    <div class="profile-info">
</div>

<%- include('templates/footer.ejs') %>
